.cartelProx {

    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 10px 10px #043aeb50;

}